<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <aside class="">
      <div class="col-md-12 d-flex align-items-center">
        <img src="../../../static/img/logo1bon1.png" class="w-25 h-50" alt="" />
        <h4>Watch Shop</h4>
      </div>
      <div class="text-center">
        <ul class="list">
          <li>Tableau de bord</li>
          <li>Produits</li>
          <li>Categories</li>
          <li>Commandes</li>
          <li>Factures</li>
        </ul>
      </div>
    </aside>
  </body>
</html>
