<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <title>Document</title>
  </head>
  <body class="itim-regular">

    {# ############################################################################################### #}
    <!-- Inclusion du header -->
    {% include "user/header.html" %} 
    {# ############################################################################################### #}

    

    {# ############################################################################################### #}
    {% block content %}

    <div class="col-md-12 d-flex align-items-center div2">
      <div class="col-md-6">
        <div class="col-md-12 text-center">
          <p>Rich watch</p>
        </div>
        <div class="col-md-12 text-center">
          <p><b>SALE 35% OFF</b></p>
        </div>
        <div class="col-md-12 text-center">
          <p>Make a Rich Life</p>
        </div>
        <div class="col-md-12 text-center">
          <button class="btn btn-dark">Buy Now</button>
        </div>
      </div>
      <div class="col-md-6">
        <img src="../../static/img/montre3.webp" width="50%" alt="" />
      </div>
    </div>

    <div class="mt-5 col-md-12 d-flex justify-content-around">
      <div class="card mb-3 div2" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 div2" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
    {# ################################################################################################# #}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
